<div class="row justify-content-center bgc-white">
  <div class="col-1 mx-3" id="nav-bar-header">
    <img
      src="assets/svg/icon-menu.svg"
      id="menu"
      width="40px"
      height="90px"
      alt="menu"
    />
  </div>
  <div class="col px-3">
    <img
      src="assets/svg/logo.svg"
      id="logo"
      width="300px"
      height="90px"
      alt="logo"
    />
  </div>
  <div
    class="col justify-content-center align-items-center d-flex"
    id="btn-Search"
  >
    <app-search></app-search>
  </div>
  <div class="col">
    <div class="row">
      <div class="col-6 justify-content-center align-items-center d-flex">
        <img
          src="assets/svg/icon-cart.svg"
          width="40px"
          height="90px"
          alt="cart"
        />
      </div>
      <div
        class="col-6 justify-content-center align-items-center d-flex"
        id="btn-login"
      >
        <button class="btn btn-outline-dark">Iniciar sesión</button>
      </div>
    </div>
  </div>
</div>
