<div class="row justify-content-center">
  <div class="col">
    <img src="assets/svg/logo.svg" width="300px" height="90px" alt="logo" />
  </div>
  <div class="col">
    <form class="d-flex">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
  <div class="col">iconos</div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#"> <strong> Hombre</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><strong> Mujer </strong> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <strong> Junior </strong>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><strong>Niños</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#"
            ><strong>Accesorios</strong></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> <strong>Ofertas</strong> </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<button class="btn btn-primary">btn</button>
