<div class="row justify-content-center bgc-white">
  <div class="col-1 mx-3" id="nav-bar-header">
    <img
      src="assets/svg/icon-menu.svg"
      id="menu"
      width="40px"
      height="90px"
      alt="menu"
    />
  </div>
  <div class="col px-3">
    <img
      src="assets/svg/logo.svg"
      id="logo"
      width="300px"
      height="90px"
      alt="logo"
    />
  </div>
  <div class="col" id="btn-Search">
    <form class="d-flex">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
  <div class="col">
    <div class="row">
      <div class="col-6">
        <img
          src="assets/svg/icon-cart.svg"
          width="40px"
          height="90px"
          alt="cart"
        />
      </div>
      <div class="col-6" id="btn-login">
        <button class="btn btn-outline-dark">Iniciar sesión</button>
      </div>
    </div>
  </div>
</div>
