hr {
  border-left: 3px solid white;
  height: 3vh;
}

@media only screen and (max-width: 990px) {
  #navbar-principalar {
    display: none;
  }
}

li {
  margin-left: 25px;
  margin-right: 25px;
  font-size: 22px;
}
